*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}


.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    height: 50px;
    max-width: 880px;
    margin: 0 auto;
}

.heading .menu{
    display: block;
    width: 100px;
    cursor: pointer;
    
    font-family: Poppins;
    text-align: center;
    color: gray;
    font-weight: 300;
    letter-spacing: 5px;
}
.heading .menu:hover{
    text-decoration: underline;
}
.arrow {
    border: solid gray;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 4%;
    transition: 0.5s all;
    bottom: 50%;

    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
}
.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }


.heading h1 {
    display: block;
    max-width: 600px;
    height: 50px;
    margin: 0;

    font-family: Pacifico;
    text-align: center;
    font-size: 42px;
}

.options {
    margin-top: 40px;
    height: 0;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#tuning {
    position: relative;
}


#tuning .tuning-block{
    left: 0;
    top: 30px;
    width: 140px;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.459);
    z-index: 4;
    background: white;
    transition: 0.5s all
}
#tuning  .tuning-block.hidden{
    height: 0;
    opacity: 0;
}
#tuning  .tuning-block.hidden div{
    display: none;
}


#tuning  .tuning-block div{
    position: static;
    width: 140px;
    cursor: pointer;
    transition: 0.3s all;

    letter-spacing: 5px;
    font-family: Poppins;
    font-weight: 300;
    text-align: center;
    color: gray;
    border-top: 1px dashed gray;
}
#tuning  .tuning-block div:first-child{
    border: none;
}
#tuning  .tuning-block div:hover{
    background: gray;
    color: white;
}
#tuning  .tuning-block div:active{
    background: rgba(255,0,0, 0.6);
    color: white;
}


.options .about-block{
    margin-top: 10px;
    opacity: 1;
    width: 100%;
    display: none;
    justify-content: center;
    transition: 0.5s all;
    position: absolute;
    z-index: 2;
}
.options .about-block.hidden{
    opacity: 0;
}

.options .about-block .description{
    text-align: center;
    margin: 0 auto;

    font-family: Poppins;
    text-align: center;
    color: gray;
    font-weight: 300;
    line-height: 20px;
}



.bass-group{
    max-width: 1360px;
    height: 300px;
    margin: 80px auto;
    position: relative;
    transform: translateX(-4%);
}
.bass-group .bassneck-group{
    width: 100%;
    height: 300px;
    position: relative;

    overflow: hidden;
}
.bass-group .bassneck-group .bass-background {
    width: 1360px;
    height: 100%;
    position: absolute;
    left: 0;
    background: center / contain no-repeat url(images/bassbg.png);
    z-index: -3;

    overflow: hidden;
}



.bass-group .bassneck-group .pegs-group {
    position: absolute;
    z-index: 0;
    display: flex;
    left: 22px;
    top: 169px;
    justify-content: space-between;
    transform: rotate(-167deg);
    -webkit-transform: rotate(-167deg);

    width: 264px;
    height: 59px;
}
.bass-group .bassneck-group .pegs-group .tuning-peg{
    height: 59px;
    width: 59px;
    background: center / contain no-repeat url(images/peg1.png);
    cursor: pointer;
}
.bass-group .bassneck-group .pegs-group .tuning-peg:hover{
    animation-name: peg-rotation;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes peg-rotation{
    0%{
        background: center / contain no-repeat url(images/peg1.png)
    }
    25%{
        background: center / contain no-repeat url(images/peg2.png)
    }
    50%{
        background: center / contain no-repeat url(images/peg3.png)
    }
    75%{
        background: center / contain no-repeat url(images/peg4.png)
    }
    100%{
        background: center / contain no-repeat url(images/peg5.png)
    }
}

.bass-group .bassneck-group .pegs-group .tuning-peg:hover + .pin{
    animation-name: pin-rotation;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.bass-group .bassneck-group .pin{
    width: 25px;
    height: 25px;
    position: absolute;
    background: center / contain no-repeat url(images/pin.png);
    z-index: -1;
    transition: 0.4s all;
}

@keyframes pin-rotation{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    100%{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}


.bass-group .bassneck-group .pin:nth-child(2){
    left: 7.3%;
    top: 142%;
}
.bass-group .bassneck-group .pin:nth-child(4) {
    left: 33.6%;
    top: 139%;
}
.bass-group .bassneck-group .pin:nth-child(6) {
    left: 58.5%;
    top: 134%;
}
.bass-group .bassneck-group .pin:nth-child(8) {
    left: 83.3%;
    top: 127%;
}



.bass-group .fret-group {
    position: absolute;
    width: 1050px;
    height: 110px;
    top: 70px;
    left: 20%;

    display: grid;
    overflow: hidden;
    grid-template-columns: 65fr 80fr 73fr 68fr 66fr 61fr 59fr 57fr 54fr 51fr 47fr 47fr 44fr 42fr 39fr 38fr 36fr 34fr 32fr 29fr 28fr;
}
.bass-group .fret-group .fret {
    width: 28px;
    height: 110px;
    padding: 9px 0 9px 0;

    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;

    overflow: hidden;
}
.bass-group .fret-group .fret:nth-child(1){
    padding: 26px 0 26px 0;
}
.bass-group .fret-group .fret:nth-child(2){
    padding: 24px 0 24px 0;
}
.bass-group .fret-group .fret:nth-child(3){
    padding: 23px 0 23px 0;
}
.bass-group .fret-group .fret:nth-child(4){
    padding: 22px 0 22px 0;
}
.bass-group .fret-group .fret:nth-child(5){
    padding: 21px 0 21px 0;
}
.bass-group .fret-group .fret:nth-child(6){
    padding: 20px 0 20px 0;
}
.bass-group .fret-group .fret:nth-child(7){
    padding: 19px 0 19px 0;
}
.bass-group .fret-group .fret:nth-child(8){
    padding: 18px 0 18px 0;
}
.bass-group .fret-group .fret:nth-child(9){
    padding: 17px 0 17px 0;
}
.bass-group .fret-group .fret:nth-child(10){
    padding: 16px 0 16px 0;
}
.bass-group .fret-group .fret:nth-child(11){
    padding: 15px 0 15px 0;
}
.bass-group .fret-group .fret:nth-child(12){
    padding: 14px 0 14px 0;
}
.bass-group .fret-group .fret:nth-child(13){
    padding: 13px 0 13px 0;
}
.bass-group .fret-group .fret:nth-child(14){
    padding: 12px 0 12px 0;
}
.bass-group .fret-group .fret:nth-child(15){
    padding: 11px 0 11px 0;
}
.bass-group .fret-group .fret:nth-child(16){
    padding: 11px 0 11px 0;
}
.bass-group .fret-group .fret:nth-child(17){
    padding: 10px 0 10px 0;
}
.bass-group .fret-group .fret:nth-child(18){
    padding: 10px 0 10px 0;
}
.bass-group .fret-group .fret:nth-child(19){
    padding: 10px 0 10px 0;
}
.bass-group .fret-group .fret:nth-child(20){
    padding: 9px 0 9px 0;
}
.bass-group .fret-group .fret .bassnote {
    width: 24px;
    height: 14px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;

    font-size: 12px;
    text-align: center;
    color: #1A1A1A;
    cursor: pointer;

    overflow: hidden;
}



.piano-group {
    margin: 70px auto;
    max-width: 880px;
    height: 230px;
    position: relative;
}

.piano-group .black-keys{
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    pointer-events: none;
}
.piano-group .black-keys button{
    background-color: #1A1A1A;
    width: 60%;
    height: 150px;
    padding: 0;
    justify-self: center;

    outline: none;
    border: 1px solid rgb(29, 29, 29);
    border-radius: 2px 2px 6px 6px;
    box-shadow: inset 0px -8px 8px rgba(134, 134, 134, 0.445);

    color: white;
    cursor: pointer;

    pointer-events: visible;
}
.piano-group .black-keys .space{
    pointer-events: none;
}
.piano-group .white-keys {
    display: grid;
    grid-template-columns: 0.5fr repeat(21, 1fr) 0.5fr;
}
.piano-group .white-keys button{
    background-color: white;
    width: 100%;
    height: 230px;
    margin: 0;
    padding: 0;
    padding-top: 200px;

    outline: none;
    border: 1px solid rgb(29, 29, 29);
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    box-shadow: inset 0px -6px 6px rgba(192, 192, 192, 0.767);

    cursor: pointer;
}
.piano-group .white-keys button:active{
    background: linear-gradient(white, rgba(54, 54, 54, 0.274))
}

.piano-group .white-keys .blanc{
    background-color: white;
    width: 100%;
    height: 230px;

    outline: none;
    border: 1px solid rgb(29, 29, 29);
    border-top: none;
}
.piano-group .white-keys .blanc:first-child{
    border-left: none;
    border-radius: 0px 0px 6px 0px;
}
.piano-group .white-keys .blanc:last-child{
    border-right: none;
    border-radius: 0px 0px 0px 6px;
}

@media (max-width: 1550px){
    .bass-group{
        transform: translateX(0%);
    }

}

@media (max-width: 1360px){
    .bass-group .bassneck-group .bass-background{
        left: -60px;
    }
    .bass-group .fret-group{
        left: 213px;
    }
    .bass-group .bassneck-group .pegs-group {
        left: -38px;
    }
}
@media (max-width: 1280px){
    .bass-group .bassneck-group .bass-background{
        left: -150px;
    }
    .bass-group .fret-group{
        left: 123px;
    }
    .bass-group .bassneck-group .pegs-group {
        left: -128px;
    }

}
@media (max-width: 1200px){
    .bass-group .bassneck-group .bass-background{
        left: -250px;
    }
    .bass-group .fret-group{
        left: 23px;
    }
    .bass-group .bassneck-group .pegs-group {
        left: -227px;
    }
}
@media (max-width: 1100px){
    .bass-group .bassneck-group .pegs-group{
        display: none;
    }

    .bass-group .bassneck-group .bass-background{
        left: -280px;
    }
    .bass-group .fret-group{
        left: 0;
    }
    .bass-group .fret-group{
        width: 1043px;
        grid-template-columns: 58fr 80fr 73fr 68fr 66fr 61fr 59fr 57fr 54fr 51fr 47fr 47fr 44fr 42fr 39fr 38fr 36fr 34fr 32fr 29fr 28fr;
    }
}
@media (max-width: 1050px){
    .bass-group .fret-group{
        width: 1015px;
        grid-template-columns: 65fr 80fr 73fr 68fr 66fr 61fr 59fr 57fr 54fr 51fr 47fr 47fr 44fr 42fr 39fr 38fr 36fr 34fr 32fr 29fr;
    }
    .bass-group .fret-group .fret:nth-last-child(-n+1){
        display: none;
    }
}
@media (max-width: 1020px){
    .bass-group .fret-group{
        width: 986px;
        grid-template-columns: 65fr 80fr 73fr 68fr 66fr 61fr 59fr 57fr 54fr 51fr 47fr 47fr 44fr 42fr 39fr 38fr 36fr 34fr 32fr;
    }
    .bass-group .fret-group .fret:nth-last-child(-n+2){
        display: none;
    }
}



@media (max-width: 991px) {
    .bass-group .fret-group{
        width: 920px;
        grid-template-columns: 65fr 80fr 73fr 68fr 66fr 61fr 59fr 57fr 54fr 51fr 47fr 47fr 44fr 42fr 39fr 38fr 36fr;
    }
    .bass-group .fret-group .fret:nth-last-child(-n+4){
        display: none;
    }
    .piano-group .white-keys {
        grid-template-columns: 0.5fr repeat(14, 1fr) 0.5fr;
    }
    .piano-group .white-keys button:nth-last-child(-n+8){
        display: none;
    }
    .piano-group .black-keys{
        grid-template-columns: repeat(15, 1fr);
    }
    .piano-group .black-keys button:nth-last-child(-n+6){
        display: none;
    }
    .piano-group .black-keys .space:nth-child(6){
        display: none;
    }
}
@media (max-width: 920px){
    .heading{
        padding: 0 20px;
    }
    .bass-group .fret-group{
        width: 846px;
        grid-template-columns: 65fr 80fr 73fr 68fr 66fr 61fr 59fr 57fr 54fr 51fr 47fr 47fr 44fr 42fr 39fr;
    }
    .bass-group .fret-group .fret:nth-last-child(-n+6){
        display: none;
    }
}
@media (max-width: 840px){
    .bass-group .fret-group{
        max-width: 767px;
        grid-template-columns: 65fr 80fr 73fr 68fr 66fr 61fr 59fr 57fr 54fr 51fr 47fr 47fr 44fr;
    }
    .bass-group .fret-group .fret:nth-last-child(-n+8){
        display: none;
    }
}


@media (max-width: 767px){
    .bass-group .bassneck-group .bass-background {
        left: -35%;
        width: 172%;
        height: 100%;
    }
    #tuning{
        display: none;
    }
    #about{
        display: none;
    }
    h1{
        width: 100%;
    }
    .bass-group .fret-group{
        width: 97%;
        grid-template-columns: 65fr 80fr 73fr 68fr 66fr 61fr 59fr 57fr 54fr 51fr 47fr 47fr 44fr;
    }
    .bass-group .fret-group .fret:nth-last-child(-n+8){
        display: none;
    }
    
}
@media (max-width: 575px){

    .piano-group .white-keys {
        grid-template-columns: 0.5fr repeat(7, 1fr) 0.5fr;
    }
    .piano-group .white-keys button:nth-last-child(-n+15){
        display: none;
    }
    .piano-group .black-keys{
        grid-template-columns: repeat(8, 1fr);
    }
    .piano-group .black-keys button:nth-last-child(-n+13){
        display: none;
    }
    .piano-group .black-keys .space:nth-child(5){
        display: none;
    }

}